<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{url_for('static',filename='css/materialize.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <link href="{{url_for('static',filename='css/detail.css')}}" rel="stylesheet">
</head>
<body>
<div class="row">
  <div id="admin" class="col s12">
    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">API DASHBOARD</span>
        <div class="actions">
          <a href="/" class="modal-trigger waves-effect btn-flat nopadding"><i class="material-icons">control_point</i></a>
          <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
        </div>
      </div>
      <table id="datatable">
        <thead>
          <tr>
		<th>Id</th>
		<th>Test Step</th>
                <th>Test Case</th>
                <th>Description</th>
                <th>Url</th>
                <th>Status</th>
                <th>Auth Key</th>
                <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for test in data.items  %}
            <tr>
                <td>{{test.id}}</td>
                <td>{{test.teststep}}</td>
                <td>{{test.testcase}}</td>
                <td>{{test.description}}</td>
                <td>{{test.url}}</td>
                <td>{{test.status}}</td>
                <td>{{test.authkey}}</td>
                <td>
                    <a  href="/update/{{test.id}}"><i class="material-icons">create</i></a>
                    <a  href="/delete/{{test.id}}"><i class="material-icons">delete_forever</i></a>
                </td>
            </tr>
          {% endfor%}
        </tbody>
      </table>
       <label><span>Showing Max 5 entries per page:</span></label>
        {% for page_num in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
         {% if page_num %}
          {% if data.page == page_num %}
           <a class="modal-trigger waves-effect btn-flat nopadding" href="{{ url_for('all', page=page_num) }}"><i class="material-icons">navigate_before</i></a>
          {% else %}
           <a class="modal-trigger waves-effect btn-flat nopadding"  href="{{ url_for('all', page=page_num) }}"><i class="material-icons">navigate_next</i></a>
          {% endif %}

        {% else %}
         ...
       {% endif %}
     {% endfor %}
    </div>
  </div>
</div>
</body>
</html>
