{% extends 'layout.html' %}
 {% block head %}
    <title>Login Page</title>
  {% endblock %}
{% block body %}

<form class="form-inline" method="POST" action="{{ url_for('test') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="comp_select" class="selectpicker form-control">
                {% for post in testcase['testcase'][select] %}
                    <option value="{{post}}">{{post}}</option>
                     {% endfor %}
                   </select>
           </div>
      <button type="submit" class="btn btn-default">Go</button>
    </div>
</form>

</form>
{% endblock %}