<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{{url_for('static',filename='css/form.css')}}" rel="stylesheet">
<script type="text/javascript" src="{{url_for('static',filename='js/mgtime.js')}}"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
 <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container register">
                <div class="row">
                    <div class="col-md-4 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>SEE DATA</h3>
                         <p class="text-center">
                           <a class=" btn btn-primary btn-sm" href="/all" role="button">ALL DATA&raquo;</a>
                        </p>
                        <p class="text-center">
                           <a class=" btn btn-primary btn-sm" href="/rest" role="button">JSON DATA&raquo;</a>
                        </p>
                    </div>
                    <form action="/update/{{test.id}}" method="post" class="col-md-8 register-right">
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">UPDATE DETAILS</h3>
                                <div class="row register-form">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="teststep" class="form-control" placeholder="Enter TestStep" value="{{test.teststep}}" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="testcase" class="form-control" placeholder="Enter TestCase" value="{{test.testcase}}" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="description" class="form-control" placeholder="Enter Description" value="{{test.description}}" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="url" class="form-control" placeholder="Enter Url" value="{{test.url}}" />
                                        </div>
                                        <div class="form-group">
                                           <input type="text" name="status" class="form-control" placeholder="Enter Status code" value="{{test.status}}" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="key" class="form-control" placeholder="Enter Auth key" value="{{test.authkey}}" />
                                        </div>
                                           <p style="line-height: 60px; text-align: center;"><button type="submit" class="btn btn-success">Update</button></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
</div>